



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






/* navbar section starts here */

#navbar{
    background-color: #000000;
    margin:4rem 10rem;
    padding: 1px 0px;
    border-radius: 20px;
    position: fixed;
    width: 80%;
    left: -2.4rem;
    top: -2rem;
}



#navbar .container .list {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 5px;
}


#navbar .container .list  .my{
    width: 2rem;
    background-color: #F79300;
    padding: 10px; 
    border-radius: 20px;

}

#navbar .container .list ul{
    display: flex;
    list-style: none;
    padding-top: 0.5rem;
    


}

#navbar .container .list ul li a{
    text-decoration: none;
    padding: 2rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    
    

}

#navbar .container .list ul li a:hover{
   color: #F79300;
}


#navbar .container .list ul li a span{
    color: #F79300;
}


#navbar .container .list ul li a span:hover{
    color: #FFFFFF;
}


#navbar .container .list  button{
    background-color: #F79300;
    padding: 5px;
    border-radius: 20px;
}

#navbar .container .list  button a{
    text-decoration: none;
    color: #000000;
}

#navbar .container .list  button a:hover{
    color: #FFFFFF;
}

/* navbar section ends here */






/* content section starts here */

#content{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 10rem;
}

#content .card .content-head{
    font-weight: 700;
    font-size: 30px;
}

#content   .card .content-head   h3{
  margin: 0 10px 10px 0;
  font-weight: 500;
  font-size: 20px;
}


#content .card .content-head  h1{
    margin: 10px;
}

#content .card .content-head  h1  span{
    color: #F79300;
}

#content .card .other{
    margin: 2rem 0px 2rem 0px;
 } 


#content .card .other .card-1{
    display: flex;
    gap: 2rem;
        
    
}

#content .card .other .card-1 img{
    width: 7rem;
}





#content .card .man{
    display: flex;
    
}

#content .card .man h1{
    font-weight: 700;
    font-size: 15px;
    padding-left: 1rem;
}

#content .card .man h1 span{
    font-size: 10px;
    font-weight: 400;
}




#content .card .man img{
    width: 2.5rem;
}






#content .images{
    display: flex;
}


#content .images .gee{
    height: 350px;
}


#content .images .me{
    height: 350px;
}


/* content section ends here */


/* confirm section starts here */

#confirm{
     display: flex;
     align-content: center;
     justify-content: space-evenly;
     padding: 20px 5px;
     margin: 0 4rem;
     border-radius: 10px;
    background-color:  #1E1E1E; 
    
}



#confirm .card .confirm-head h1{
     font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}



#confirm .card .confirm-head h1 span{
    color: #F79300;
}


#confirm .card .platform{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 20px;
}

#confirm .card .platform .paragraph{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
}


#confirm .card .platform .image{
    display: flex;
    align-items: center;
}


#confirm .card .platform .image img{
    width: 4rem;
    margin: 20px;
}


#confirm .card .platform .image  h2{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
}

#confirm .card .destiny{
    display: flex;
    align-items: center;
    gap: 2rem;
}


#confirm .card .destiny h1{
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
}


#confirm .card .destiny h1 span{
    color: #F79300;
    font-size: 15px;
}

#confirm .card .destiny img{
    height: 2rem;
}


#confirm .code{
    background-color: #FFFFFF;
    width: 20%;
    border-radius: 2px;
    padding: 10px;
}


#confirm .code .head h1{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

#confirm .code .head h1 span{
    font-weight: 400;
    font-size: 15px;
}

#confirm .code .head button{
    background-color: #F79300;
    border: none;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 20px;
}


#confirm .code .head button a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
}


#confirm .code .head button a:hover{
    color:#FFFFFF;
}

#confirm .code .head .mine{
    display: flex;
    justify-content: space-between;
}

#confirm .code .head .mine  img.ok{
    width: 6rem;

}

#confirm .code .head .mine img.gee{
    position: relative;
    top: 1.5rem;
    left: 1.5rem;
    padding: 20px;
    border-radius:25rem;
    height: 6rem;
    width: 6rem;
    background-color: #1E1E1E;
}



/* confirm section ends here */



 /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  @media (min-width: 320px) and (max-width: 480px) {
    
    #navbar{
        
    }
    
  }  



    /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
  */
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }

  /* 
    ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }

  /* 
    ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }


   /* 
    ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  



/* 
  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    /* CSS */
  }
  
 
  
  

  
 





